* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121229;
}

header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 1.2rem;
  margin-top: 2rem;
  padding: 1rem;
}

header h1 {
  font-size: 3rem;
}

header input {
  padding: 0.6rem 8rem;
  text-align: center;
  border: none;
  font-size: 1.7rem;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  gap: 1rem;
}

.movies div {
  background-color: #5959ca;
  padding: 2rem;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
  border-radius: 1rem;
  color: #ffffff;
}
.movies div img {
  width: 80%;
  height: 80%;
  border-radius: 0.6rem;
}
.movies div button {
  padding: 0.7rem 3rem;
  background-color: #e03350;
  color: #ffffff;
  border-radius: 1rem;
  opacity: 0.7;
}
.movies div button:hover {
  opacity: 1;
  cursor: pointer;
}
